@font-face {
    font-family: "Amatic SC";
    src: url("../fonts/AmaticSC-Bold.ttf");
}
body {
  width: 600px;
  margin-left: 10%;
  padding: 10px 10px 10px 10px;
  margin-left:auto;
  margin-right:auto;
  /* bg */
  background-color: #e6e6e6;
  /* font */
  font-family: "Amatic SC";
  font-style: normal;
  font-variant: normal;
}
hr {
  border:none;
  border-top:1px dotted grey;
  width: 90%;
}
#content-wrap {
  padding: 0px 0px 30px 0px;
  background-color: #EAEDED;
  border: 1px dotted gray;
  border-radius: 10px;
  /* for IE */
  filter: alpha(opacity=80);
  /* CSS3 standard */
  opacity:0.8;
}
#header-wrap, #main-wrap, #board-wrap #ref-wrap{
  margin-left: auto;
  margin-right: auto;
  width: 522px;
}
#board-wrap table{
  width: 522px;
  height: 522px;
  background: #EAEDED;
  border-radius: 2px;
}
#board-wrap td {
  border-spacing: 1px;
  //background-color: white;
  border-radius: 2px;
}
.live {
  background: #E74C3C;
  width: auto;
  height: auto;
}
.die {
  background: white;// #AAB7B8;
  width: auto;
  height: auto;
}