body {
  background-color: #d2b48c;
  width: 600px;
  height: same-as-width;
  margin-left: 10%;
  padding: 10px 10px 10px 10px;
  //width:80%;
  margin-left:auto;
  margin-right:auto;
}
/*#version {
  align: right;
}*/
#board {
  border: 1px dotted gray;
}
#header,#field {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}
#field table{
  width: 500px;
  height: 500px;
  background: #EAEDED;
  border-radius: 1px;
}
#field td {
  border: 1px;
  border-spacing: 1px;
  border-radius: 1px;
}
#reference {
  margin-top: 10px;
  margin-bottom: 40px;
}
#panel {
  margin-top: 10px;
  margin-bottom: 10px;
}
.world10live {
  background: #E74C3C;
  width: 10%;
  height: 10%;
}
.world10die {
  background: #AAB7B8;
  width: 10%;
  height: 10%;
}
.world40live {
  background: #E74C3C;
  width: 2%;
  height: 2%;
}
.world40die {
  background: #AAB7B8;
  width: 2%;
  height: 2%;
}