@font-face {
    font-family: "Amatic SC";
    src: url("../fonts/AmaticSC-Bold.ttf");
}
body {
  width: 600px;
  margin-left: 10%;
  padding: 10px 10px 10px 10px;
  margin-left:auto;
  margin-right:auto;
  /* bg */
  background-color: #e6e6e6;
  /* font */
  font-family: "Amatic SC";
  font-style: normal;
  font-variant: normal;
}
hr {
  border:none;
  border-top:1px dotted grey;
  width:90%;
}
#board {
  background-color: #EAEDED;//#d2b48c;
  border: 1px dotted gray;
  border-radius: 10px;
  /* for IE */
  filter: alpha(opacity=80);
  /* CSS3 standard */
  opacity:0.8;
}
#header,#field,#reference {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}
#field table{
  width: 500px;
  height: 500px;
  background: #EAEDED;
  border-radius: 3px;
}
#field td {
  border: 1px;
  border-spacing: 1px;
  border-radius: 3px;
}
#reference {
  margin-top: 10px;
  margin-bottom: 40px;
}
#panel {
  margin-top: 10px;
  margin-bottom: 10px;
}
.world10live {
  background: #E74C3C;
  width: 10%;
  height: 10%;
}
.world10die {
  background: #AAB7B8;
  width: 10%;
  height: 10%;
}
.world40live {
  background: #E74C3C;
  width: 2%;
  height: 2%;
}
.world40die {
  background: #AAB7B8;
  width: 2%;
  height: 2%;
}